body{
	padding-top: 70px;
}

.jumbotron{
	background: url("https://source.unsplash.com/ljtdBfpbJX8") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.8;
	height: 300px;
}

.navbar-inverse{
	background: #2c3e50;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.color,.jumbotron{
	color: black;
	text-align: center;
}

.color{
	background: white;
	opacity: 0.8;
	padding: 10px;
	border-radius: 10px;
	vertical-align: center;
}

p{
	width: 500px;
}


.thumbnail{
	transition: transform 0.5s;
}


.thumbnail:hover{
	transform: scale(1.1);
	opacity: 0.9;
}
